* {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 700px;
  min-width: 300px;
  display: flex;
  position: relative;
  background-color: var(--primary-color);
  align-items: center;
  padding: 0.8em 1em;
  gap: 20px;
}

.container:hover {
  background-color: #403e3e;
}
.contact-box {
  width: 82%;
}
.contact-name {
  margin: 0;
  margin-bottom: 0.5em;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}

.last-message-timestamp {
  position: absolute;
  top: 30px;
  right: 30px;
}
.last-message-preview {
  display: inline-block;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
